.container{
  display: flex;
  padding:3rem 2rem 3rem 0;
  justify-content:space-around;
  border: .1rem solid white;
  border-radius: 2rem;
  flex-wrap:wrap;
}

.container .logo-container{  
  width: 5rem;
  height: 5rem;
  position: relative;
  display: flex;
  align-items: center; 
  overflow: hidden;
  margin-left:1rem ;
  border: 0.08rem solid var(--secondary-color);
  background-image: linear-gradient(to left, var(--secondary-color) , var(--secondary-color-light));
  border-radius: 1rem;
  /* background-color: red;  */
  
}

.container .logo-container img{
  max-width: 2rem;
  height: 2rem;
  border-radius: 50%;
  object-fit: cover;
  
}

.container .logo-container .logo1{
  position: absolute;
  top: 1rem;
  right: 2rem;
 
}
.container .logo-container .logo2{
  position: absolute;
  bottom: 1rem;
  left: 2rem
}

/* .container .info-container{
  flex:9;
} */

.container .title-section{
  /* background-color: blue; */
  display: flex;
  flex-direction: column;  
  margin-left: 2rem;
  margin-right: auto;
 
}
.container .title-section h3{
  font-size: 2rem;
}
.container .title-section p{
  
}

.container .vault-info{
  display: flex;
  justify-content: space-evenly;
  gap: 12rem;
  margin-left: 2rem;
  
}

.container .vault-info div{
  display: flex;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
}
.container .vault-info div h3{
  font-size: 1.7rem;
}
.container .vault-info div p{
  font-size: 1.4rem;
}

.container .vault-info div .label{
  
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;

}

.container .vault-info div .label span{
  font-size: 1.4rem;
}
.container .vault-info div .label span .icon{
  border: 0.08rem solid white;
  margin-top: 0.3rem;
  border-radius: 50%;
  background-image: linear-gradient(to left, var(--secondary-color), var(--secondary-color-light));
}


@media only screen and (max-width: 1074px){
  .container{
    display: grid;
    padding:1rem 1rem 1rem 1rem;
    grid-template-columns: 1fr 1fr;
    /* background-color: red;    */
    width: 100%;   
  }

  .container .logo-container{
    min-width: 10rem;
    height: 10rem;   
    align-self: center;
    margin-left: 4rem;
    margin-right: auto;
    
    
  }

  .container .logo-container img{
    max-width: 5rem;
    height: 5rem;   
    
  }

  .container .title-section{
    /* background-color: blue; */ 
    display: inline-flexbox;  
    flex-direction: column;  
    width: max-content;
    margin-left: -15rem;   
  }

  .container .vault-info{
    margin: 1rem;
    gap: 3rem;
    column-span: all;
    
  }
}

@media only screen and (max-width: 724px){

  .container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .container .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    
  }
  .container .title-section{
   
    display: flex;
    margin: auto; 
  }

  .container .vault-info{
    gap: 1.5rem;
    justify-content: space-between;
    
  }
 
}