@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}
:root{
  --main-color: #473228;
  --main-color-light: #b38069;
  --secondary-color: #34435e;
  --secondary-color-light: #6a8ac7;
  --text-color: #eee;
  --linear-gradient: 

}

body{
  background-image: linear-gradient(to right, var(--main-color),var(--secondary-color),var(--main-color-light),var(--secondary-color-light));
  color: white;
}